<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        &copy; {{ now.Format "2006" }} {{ with .Site.Params.footer.copyright }}{{ . | safeHTML }}{{ else }}{{ with .Site.Author.name }}{{ . }}{{ else }}{{ with .Site.Title }}{{ . }}{{ end }}{{ end }}{{ end }}
    </span>

    <script>
        window.goatcounter = {
            no_onload: ('doNotTrack' in navigator && navigator.doNotTrack === '1'),
        };
    </script>
    <script data-goatcounter="https://ferrario.goatcounter.com/count"
            async src="//gc.zgo.at/count.js">
    </script>
</footer>